---
layout: base
---

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

  <div class="author-body">

  {% if author.picture %}
    {% include srcset-img.html class="me" img=author.picture alt=author.name %}
  {% endif %}
    <div class="author-body-description">
      {{ author.about | markdownify }}
    </div>
  </div>
  <div class="markdown-body">
  	<select id="categoryy">
  		<option>{% site.featured_categories %}</option>
  	</select>
  	<textarea rows="35" cols="90" id="postContent">
---
layout: post
title:  "제목을 입력해 주세요."
date:   2019-04-18 16:02:01 -0600
categories: devnote
tags: linux
---

내용을 입력해 주세요.
  	</textarea>
  </div>
